<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="adad-cordova-plugin"
    version="5.1.1">
    <name>Cordova Adad Plugin</name>
    <description>Adad ad service plugin for cordova, phonegap and ionic</description>
    <author>Milad Mohammadi Rezagah</author>	
    <license>miladesign.ir</license>
    <keywords>cordova,plugin,ad,adad,monetisation</keywords>
    <repo>https://github.com/vinoosir/adad-cordova-plugin</repo>
    <issue>https://github.com/vinoosir/adad-cordova-plugin/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/adad.js">
        <clobbers target="window.adad" />
    </js-module>    

	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CordovaAdad">
				<param name="android-package" value="miladesign.cordova.CordovaAdad"/>
			</feature>
		</config-file>

        <framework src="src/build.gradle" custom="true" type="gradleReference" />
		<resource-file src="libs/adad-sdk-ad-5.1.1.aar" target="libs/adad-sdk-ad-5.1.1.aar" />
		<resource-file src="libs/adad-sdk-banner-5.1.1.aar" target="libs/adad-sdk-banner-5.1.1.aar" />
		<resource-file src="libs/adad-sdk-core-5.1.1.aar" target="libs/adad-sdk-core-5.1.1.aar" />
		<resource-file src="libs/adad-sdk-fullscreen-5.1.1.aar" target="libs/adad-sdk-fullscreen-5.1.1.aar" />
		<resource-file src="libs/adad-sdk-video-5.1.1.aar" target="libs/adad-sdk-video-5.1.1.aar" />
		<resource-file src="libs/play-services-ads-identifier-16.0.0.aar" target="libs/play-services-ads-identifier-16.0.0.aar" />
		<source-file src="libs/david-webb-1.3.0.jar" target-dir="libs" />
		<source-file src="libs/android-support-v4.jar" target-dir="libs" />
        <source-file src="src/CordovaAdad.java" target-dir="src/miladesign/cordova" />
	</platform>
	
</plugin>